.c-site-alert {
  padding: 10px 0;
  margin: 10px 0;
  display: none;
}

.c-site-alert__container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
}

/*
 * Alert bar view mode.
 */

.view-mode__alert-bar .c-site-alert__container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.view-mode__alert-bar .c-site-alert__content {
  padding-left: 15px;
}

.view-mode__alert-bar .c-site-alert__content .field__item {
  display: inline-block;
  padding: 0 5px;
}

.c-site-alert-type__icon {
  height: 20px;
  max-width: 100%;
}

/*
 * Site alert bar general styles.
 */
.c-site-alert h4 {
  margin: 0;
  color: inherit;
}

.c-site-alert p {
  margin-bottom: 0;
  display: inline;
}

.c-site-alert__title {
  font-weight: bold;
}

.c-site-alert__title,
.c-site-alert__message {
  display: inline-block;
  padding: 10px;
}

.c-site-alert__link {
  font-weight: bold;
  display: inline-block;
  padding: 10px;
}

.c-site-alert__close {
  position: absolute;
  top: 0;
  right: 0;
}
