{#
/**
 * @file
 * Default theme implementation to display site alert close button.
 *
 * Available variables:
 * - site_alert: The site alert entity with limited access to object properties and methods.
 * - view_mode: View mode; for example, "teaser" or "full".

 * @ingroup themeable
 */
#}
{% if site_alert.isDismissible() %}
  <button type="button" class="c-site-alert__close" data-dismiss="alert"
          aria-label="{{ 'Close alert'|t }}">{{ 'Close'|t }}</button>
{% endif %}
