{#
/**
 * @file
 * Default theme implementation to display site alert type.
 *
 * Available variables:
 * - site_alert_type: The site alert type taxonomy term entity.
 * - site_alert_type_icon: The site alert type icon.
 *    .url: The path/url to icon.
 *    .alt: The alt text for the icon.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {% if site_alert_type and site_alert_type_icon.url %}
    <img src="{{ site_alert_type_icon.url }}" alt="{{ site_alert_type_icon.alt }}" class="c-site-alert-type__icon">
  {% endif %}
</div>
