{#
/**
 * @file
 * Site alert types.
 *
 * Variables:
 *  - alert_types: Array of site alert type entities.
 *  - view_mode: View mode; for example, "teaser" or "full".
 */
#}
<div{{ attributes }}>
  {% for alert_type_id,alert_type in alert_types %}
    {{ alert_type }}
  {% endfor %}
</div>
