{#
/**
 * @file
 * Site alerts
 *
 * Variables:
 *  - alerts: Array of site alert entities.
 *  - view_mode: View mode; for example, "teaser" or "full".
 */
#}
<div{{ attributes }}>
  {% for alert_id,alert in alerts %}
    {{ alert }}
  {% endfor %}
</div>
